/__pycache__
/blocos.py
/condicionais.py
/entrada_de_dados.py
/excecoes.py
/for.py
/funcoes.py
/metodos_tipo_texto.py
/meu_modulo.py
/modulo_terceiro.py
/modulos.py
/olaMundo.py
/projeto
/sintaxe.py
/teste.py
/tipos_variaveis
/variaveis.py
/while.py